<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
</IfModule>

<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

Options +FollowSymLinks
RewriteEngine On
RewriteBase /
